<label>name: </label>
<input [(ngModel)]="name1" type="text" #name>
<br>
<label>ID: </label>
<input [(ngModel)]="id" type="text" #id><br>
<label>Age: </label>
<input [(ngModel)]="age" type="text" #age>
<label>DAY </label>
<input [(ngModel)]="day" type="text" #day><br>
<label>MONTH</label>
<input [(ngModel)]="month" type=" text "><br>
<label>YEAR </label>
<input [(ngModel)]="year" type="text "><br>
<input type="submit " (click)="add() ">
<div *ngFor="let student of students ">{{student.name}} --{{student.date|date}}</div>