<label>Name: </label>
<input [(ngModel)]="name1" type="text">
<br>
<label>ID: </label>
<input [(ngModel)]="id1" type="text"><br>
<label>Age: </label>
<input [(ngModel)]="age1" type="text"><br>
<label>Day: </label>
<input [(ngModel)]="day" type="text"><br>
<label>Month:</label>
<input [(ngModel)]="month" type="text"><br>
<label>Year: </label>
<input [(ngModel)]="year" type="text"><br>
<input type="submit" (click)="add()">
<input type="text" [(ngModel)]= "search" (keyup)="filter1()">
<div *ngFor="let student of forsearch ">{{student.name}}|| {{student.date|date}}</div>